.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3276d2;
  min-height: 700px;

  .bigAnimation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    height: 425px;
    padding: 5px;
    background-color: rgb(206, 206, 206);
    margin-bottom: 50px;
    border-radius: 5px;

    .element {
      padding: 19px;
      background-color: grey;
      border-radius: 5px;
      margin: 2px;
    }
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fcfcfc;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #fcfcfc;
    margin-bottom: 40px;
  }
}
