.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3276d2;

  .bigAnimation {
    width: 100%;
    max-width: 800px;
    height: 400px;
    background-color: rgb(206, 206, 206);
    margin-bottom: 50px;
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #fcfcfc;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #fcfcfc;
    margin-bottom: 20px;
  }
}
