.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px 0;
  background-color: #f0f0f0;
  padding: 30px;

  .columnContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .title {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
      font-size: 18px;
      font-weight: 500;
    }

    .rowContainer {
      display: flex;
      justify-content: space-around;

      .animationContainer {
        display: flex;
        justify-content: center;
        width: 50%;
      }

      .codeContainer {
        width: 50%;
        padding: 20px;
        // The syntaxhighlighter comes with some difficult to remove margin by default.
        margin: 0 !important;
        border-radius: 5px;
        max-height: 300px;
        overflow-y: auto;
      }
    }
  }
}
