.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    max-width: 800px;
    padding: 20px;
    background-color: #f0f0f0;

    .title {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 500;

      .icon {
        color: #3276d2;
        margin-right: 10px;
        font-size: 26px;
      }
    }

    .importDescription {
      margin-top: 20px;
      line-height: 24px;
    }

    .code {
      padding: 20px;
      border-radius: 5px;
      max-height: 300px;
      overflow-y: auto;
    }

    .description {
      margin-top: 5px;
      line-height: 24px;

      .AnimeDocumentationLink {
        color: rgb(0, 0, 194);
        transition-duration: 1000ms;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .sampleComponents {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 500;
    margin-top: 100px;

    .icon {
      color: #3276d2;
      margin-right: 10px;
      font-size: 28px;
    }
  }
}

.comingSoon {
  margin-top: 100px;
  font-weight: 500;
}
