.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 15px 0;
  background-color: #3276d2;

  .container {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    justify-content: space-between;

    .title {
      font-weight: 500;
      color: white;
    }

    .button {
      background-color: white;
      padding: 10px 20px;
      border-radius: 15px;
      font-weight: 700;
      color: #3276d2;
    }
  }
}
