.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #3276d2;
  height: 100px;
  margin-top: 200px;

  .container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;

    .leftColumnContainer {
      display: flex;
      flex-direction: column;
      color: white;
      width: 100%;
      max-width: 270px;

      .leftRowContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        color: white;
        width: 100%;
      }
    }

    .button {
      display: flex;
      align-items: center;
      background-color: white;
      padding: 10px 20px;
      border-radius: 15px;
      font-weight: 700;
      color: #3276d2;
    }
  }
}
